@font-face {
  font-family: 'song';
  src: url("SourceHanSerifCN-Regular.subset.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'song';
  src: url("SourceHanSerifCN-Bold.subset.ttf") format('truetype');
  font-style: normal;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: song;
}